<div class="row">
  <div class="col-4 offset-4">
    <div class="card text-white bg-dark">
      <div class="card-header">Scoreboard</div>
        <div class="col">
          <% @factory.each do |user| %>
            <div class="alert alert-dark" role="alert">
              <%= render partial: 'user', locals: { user: user } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>