<div class="row">
  <div class="col-4 offset-4">
    <div class="card text-white bg-dark">
      <div class="card-header">Profil</div>
      <div class="card-body">
        <h3 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h3>
        <p class="card-text">
          <%= render partial: 'shared/level_indicator' %>
          Alle Punkte: <%= current_user.xp %>
        </p>
      </div>
    </div>
  </div>
</div>