<div class="row">
  <div class="col-10 offset-1">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!<%= fa_icon('globe')%></h1>
      <p class="lead">A gamification project for Seminar Software Engeneering WiSe 19/20</p>
      <hr class="my-4">
      <p>This Project is publicly available on GitHub.</p>
      <a class="btn btn-primary btn-lg" href="https://github.com/LukaZdr/gameban" role="button">To the Batmobil!</a>
    </div>
  </div>
</div>