
<% case priority
   when 'Critical' %>
  <span class="badge badge-danger">Critical</span>
<% when 'Major' %>
  <span class="badge badge-warning">Major</span>
<% when 'Moderate' %>
  <span class="badge badge-info">Moderate</span>
<% when 'Low' %>
  <span class="badge badge-primary">Low</span>
<% end %>
