<div class="row">
  <div class="col">
    <h3><%= @project.name %></h3>
    <%= link_to 'sprints', project_sprints_path(@project) %>
  </div>
</div>
<div class="row">
  <% Ticket::STATUSES.each do |status| %>
    <div class="col">
      <%= render partial: 'tickets/column', locals: { status: status, sprint: @sprint } %>
    </div>
  <% end %>
</div>