<div class="row">
  <div class="col-10"><h3><%= @project.name %></h3></div>
  <div class="col"><%= link_to 'sprints', project_sprints_path(@project), class: 'btn btn-info  ' %></div>
</div>
<br>
<div class="row">
  <% Ticket::STATUSES.each do |status| %>
    <div class="col">
      <%= render partial: 'tickets/column', locals: { status: status, project: @project } %>
    </div>
  <% end %>
</div>